.interest{

    button{
        color:magenta;
        background: lightgreen;
    }
    
    .topics{
        display:flex;
        justify-content: space-between;
    align-items: center;
        flex-direction: column;
        gap:10px;
        .row1{
            display: flex;
            gap:10px;
        }
        .row2{
            display: flex;
            gap:10px;
        }
    }
}