.leftbar{
    flex:2;
    
    // text-decoration-color: antiquewhite;
    position: sticky;
    top: 70px;
    height: 500px;
    // gap:20px;
    overflow: scroll;
    &::-webkit-scrollbar{
        display:none;
    }
    img{
        border-radius: 50%;
        width:35px;
        height:35px;
        object-fit: cover;
    }
    .container{
        
        flex-direction: column;
        gap: 50px;
        padding: 20px;
        
        span{color:black;}
        // gap: 20px;
        .user{
            color:black;
            display:flex;
            align-items: center;
            gap:10px;
            padding:20px 0px;
            border-bottom:1px solid lightgray;
        }   
        .suggestion{
            color:black;
            display:flex;
            align-items: center;
            gap:10px;
            padding:20px 0px;
            border-bottom:1px solid lightgray;
        }   
        .find{
            color:black;
            display:flex;
            align-items: center;
            gap:10px;
            padding:20px 0px;
            border-bottom:1px solid lightgray;
        }  
        .interest{
            color:black;
            display:flex;
            a {
                color: #FFF;
              }
              a:hover {
                 color: #00F
              }
            align-items: center;
            gap:10px;
            padding:20px 0px;
            border-bottom:1px solid lightgray;
        }    
        .startAConvo{
            span{color:black;}
            display:flex;
            align-items: center;
            gap:10px;
            padding:20px 0px;
            border-bottom:1px solid lightgray;
        }   
        .homeIcon{
            
            display:flex;
            align-items: center;
            gap:10px;
            padding:20px 0px;
            border-bottom:1px solid lightgray;
        }   
        .suggestion{
            color:black;
            display:flex;
            align-items: center;
            gap:10px;
            padding:20px 0px;
            border-bottom:1px solid lightgray;
        }   
    }


}