.profile{
    position: sticky;
    // display:flex;
    // flex-direction:column;
    top: 70px;
    height: 600px;
    overflow: scroll;
    &::-webkit-scrollbar{
        display:none;
    }
    .bio{
        width:70%;
        align-items:center;
        height:fit-content;
        top:370px;
        // overflow:none;
        // position:sticky;
        justify-content:space-between;
        padding: 20px 70px;
        //filter: drop-shadow(1px 1px 0.09px #eadddd);
        // border:2px solid lightgray;
        // filter: drop-shadow(1px 1px 0.09px #eadddd);
    }
    .images{
        width:100%;
        height:300px;
        position:relative;
        padding-bottom: 80px;
        .coverPic{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
        .profilePic{
            width: 200px;
            border-radius:50% ;
            height: 200px;
            object-fit: cover;
            position: absolute;
            left: 0;
            right: 0;
            margin:auto;
            top: 200px;
        }
    }
    .profileContainer{
        padding: 20px 70px;
        display: flex;
        flex-direction:row;
     
        
        filter: drop-shadow(1px 1px 0.09px #eadddd);
        .uinfo{
            width:100%;
            padding:20px 70px;
            height: 200px;
            border-radius: 20px;
            background-color:white;
            color:black;
            padding: 50px;
            display: flex;
             gap: 50px;
            align-items: center;
            justify-content:space-between;
            .left{
                flex:1;
                display: flex;
                gap: 10px;
            }
            .center{
                flex:5;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                //display: flex;
                span{
                    font-size: 20px;
                    font-weight: 900;
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap:10px;
                    justify-content: space-around;
                    
                    span{
                        white-space: nowrap;
                        font-size: 12px;
                        font-weight:lighter;
                    }
                    .button{
                    button{
                        // width:50%;
                        padding:10px;
                        border:none;
                        background-color:lightgray;
                        color:magenta;
                        font-weight:bold;
                        cursor:pointer;
                    }
                }
                    }
                

            
            .right{
                flex:1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap:10px;
            }

        }    
    }
    }   
}   