.interests{
    display: flex;
    flex-direction:column;
    //height:100vh;
    width:fit;
    //background-size:cover;
    align-items:center;
    padding: 20px;
    gap: 10px;
    justify-content:space-between;
    position: sticky;
    top: 70px;
    // height: 400px;
    overflow: scroll;
    &::-webkit-scrollbar{
        display:none;
    }
    border:2px solid lightgray;
            filter: drop-shadow(1px 1px 0.09px #eadddd);
    // overflow:none;
    .title{}
    .interest{
        // display: flex;
        button{
            color:magenta;
            background: lightgreen;
            cursor:pointer;
            border:none;
            
        }
        button:hover{
            background:pink;
        }
        button:active{
            background:red;
        }
        
        .topics{
            display:flex;
            justify-content: space-between;
        align-items: center;
            flex-direction: column;
            gap:10px;
            .row1{
                display: flex;
                gap:10px;
            }
            .row2{
                display: flex;
                gap:10px;
            }
            .row3{
                display: flex;
                gap:10px;
            }
            .row4{
                display: flex;
                gap:10px;
            }
        }
    }
}